body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
  }
body h1 {
  font-size: 3rem;
  background-color: #fc7405;
  background-image: linear-gradient(to top, #ff4208 0%, #edb51a 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
} 
body p {
  font-size: 2rem;
  background-color: #fc7405;
  background-image: linear-gradient(to top,#c508ff 50%, #0ed9fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
} 
.visit p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 50;
  text-align: left; 
}

body li {
  font-size: 1rem;
  background: #b44c3a;
  background: -webkit-linear-gradient(-225deg #4b047a, #fd9504, #fd9504,#4b047a);
  background: linear-gradient(-225deg, #4b047a, #fd9504, #fd9504,#4b047a);
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  color: white;
}